@font-face {
    font-family: 'DS-DIGI';
    src: url(font/DS-DIGI.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DS-DIGI';
}

body {
    background-color: rgb(39, 39, 39);
    color: rgb(250, 76, 76);
}

.container {
    margin-top: 50vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jam {
    text-align: center;
}
